[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
coverage = "*"
djangorestframework = "*"
django-cors-headers = "*"
django = "*"
briefcase = "*"
toga = "*"
channels = "*"
daphne = "*"
django-colorfield = "*"
whitenoise = "*"
dj-database-url = "*"
typing-extensions = "*"

[dev-packages]
flaky = "*"
flake8 = "*"
pytest-django = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
