{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}226 Game{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/icon.png' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block extra_css %}
    
    {% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <h1>{% block header %}226 Game{% endblock %}</h1>
        </header>
        <main>
            {% block content %}
                <!-- Everythign not in base.html goes here -->
            {% endblock %}
        </main>
        <footer class="text-center mt-2">
            <p><small>ICS 226 - Network Programming</small></p>
        </footer>
    </div>
</body>
</html>